*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body
{
    height: 100vh;
    background-color: #000;
    background-image: url("C:/Users/PC Abdoulaye Haidara/Downloads/photo.webp");
    background-size: cover;
    background-position: center;
}
li
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
a:hover
{
    color: orange;
}
/*Header*/
header
{
    position: relative;
    padding: 0 2rem;
}
.navbar
{
    width: 100%;
    height: 60px;
    max-width: 0 auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a
{
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .links
{
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn
{
   color: #fff;
   font-size: 1.5rem;
   cursor: pointer;
   display: none;
}
.action_btn
{
    background-color: #fff;
    color: orange;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}
.action_btn:hover
{
    transform: translateY(-10px);
    color: #fff;
    background-color: orange;
}
.action_btn:active
{
    scale: 0.9s;
}
/*Menu Hamburgur*/
.dropdown_menu
{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}
.dropdown_menu .open
{
    height: 240px;
}
.dropdown_menu li
{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn
{
    width: 100%;
    display: flex;
    justify-content: center;
}
/*Hero*/
section.hero
{
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}
.hero h1
{
    font-size: 3rem;
    margin-bottom: 10px;
}
.hero p
{
    font-size: 1.5rem;
}
/*Responsive Design*/
@media(max-width: 992px)
{
    .navbar .links,
    .navbar .action_btn
    {
        display: none;
    }
    .navbar .toggle_btn
    {
        display: block;
    }
    .dropdown_menu
    {
        display: block;

    }
}